@using Nop.Web.Framework
@model Nop.Plugin.MLR.BusinessCustomer.Domain.MLR_BusinessCustomer
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.BusinessCustomerId)

<script>
    $(document).ready(function () {
        $("#business-customer-edit").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>
<div id="business-customer-edit">
    <ul>
        <li class="k-state-active">
            Info
        </li>
        <li>
            Roles
        </li>
        @if (Model.BusinessCustomerId > 0)
        {
            <li>
                Orders
            </li>
            <li>
               Addresses
            </li>
            <li>
                Quote Sheet
            </li>
            <li>
                Employees
            </li>
            <li>
                Activity Log
            </li>
            
        }
    </ul>
    <div>
        @BusinessCustomerInfo()
    </div>
    <div>
        <h1>Roles!</h1>
    </div>
    @if (Model.BusinessCustomerId > 0)
    {
        <div>
            <h1>Orders!</h1>
        </div>
        <div>
            @BusinessCustomerAddresses()
        </div>
        <div>
            <h1>Quote Sheet!</h1>
        </div>
        <div>
            <h1>Employees!</h1>
        </div>
        <div>
            <h1>Activity Log!</h1>
        </div>
    }
</div>

@helper BusinessCustomerInfo()
{
    <table class="adminContent business-customer-info-tab">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.MlrBusinessCode):
            </td>
            <td class="adminData">
                @Html.DisplayFor(model => model.MlrBusinessCode)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.BusinessName):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.BusinessName)
                @Html.ValidationMessageFor(model => model.BusinessName)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.BusinessCustomerContact):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.BusinessCustomerContact)
                @Html.ValidationMessageFor(model => model.BusinessCustomerContact)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ResellerNumber):
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.ResellerNumber)
                @Html.ValidationMessageFor(model => model.ResellerNumber)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.W9):
            </td>
            <td class="adminData">                
                @Html.EditorFor(model => model.W9)
                @Html.ValidationMessageFor(model => model.W9)
            </td>
        </tr>
    </table>
}

@helper BusinessCustomerAddresses() {
    <div id="business-customer-addresses-grid"></div>

        <script>
        $(document).ready(function () {
            $("#business-customer-addresses-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("AddressesSelect", "BusinessCustomerHome", new { businessCustomerId = Model.BusinessCustomerId }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        },
                        destroy: {
                            url: "@Html.Raw(Url.Action("AddressDelete", "BusinessCustomerHome", new { businessCustomerId = Model.BusinessCustomerId }))",
                            type: "POST",
                            dataType: "json",
                            data: addAntiForgeryToken
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors",
                        model: {
                            id: "Id"
                        }
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    numeric: false,
                    previousNext: false,
                    info: false
                },
                editable: {
                    confirmation: false,
                    mode: "inline"
                },
                scrollable: false,
                columns: [{
                    field: "FirstName",
                    title: "@T("Admin.Address.Fields.FirstName")"
                }, {
                    field: "LastName",
                    title: "@T("Admin.Address.Fields.LastName")"
                }, {
                    field: "Email",
                    title: "@T("Admin.Address.Fields.Email")"
                }, {
                    field: "PhoneNumber",
                    title: "@T("Admin.Address.Fields.PhoneNumber")"
                }, {
                    field: "FaxNumber",
                    title: "@T("Admin.Address.Fields.FaxNumber")"
                }, {
                    field: "AddressHtml",
                    title: "@T("Admin.Address")",
                    encoded: false
                }, {
                    field: "Id",
                    title: "@T("Admin.Common.Edit")",
                    width: 100,
                    template: '<a href="@Url.Content("/BusinessCustomerHome/AddressEdit?businessCustomerId=")@Model.BusinessCustomerId&addressid=#=Id#">@T("Admin.Common.Edit")</a>'
                }, {
                    command: { name: "destroy", text: "@T("Admin.Common.Delete")" },
                    title: "@T("Admin.Common.Delete")",
                    width: 100
                }]
            });
        });
        </script>
        <p>
            <input type="button" class="k-button" onclick="location.href='@Url.Action("AddressCreate", new { businessCustomerId = Model.BusinessCustomerId })'" value='@T("Admin.Customers.Customers.Addresses.AddButton")' />
        </p>
}