@model Nop.Plugin.MLR.BusinessCustomer.Models.BusinessCustomerAddressModel
@{
    //page title
    ViewBag.Title = T("Admin.Customers.Customers.Addresses.AddNew").Text;
    Layout = "_AdminLayout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
            @T("Admin.Customers.Customers.Addresses.AddNew") @Html.ActionLink("(" + T("Admin.Customers.Customers.Addresses.BackToCustomer") + ")", "Edit", new { id = Model.BusinessCustomerId })
        </div>
        <div class="options">
            <input type="submit" value="@T("Admin.Common.Save")" class="k-button" />
        </div>
    </div>
    @Html.Partial("~/Plugins/MLR.BusinessCustomer/Views/BusinessCustomerHome/_CreateOrUpdateAddress.cshtml", Model)
}